* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    src: url(C:\Users\Home\AppData\Local\Temp\atom-118019-14536-1ea9572.rtm9ozuxr\league-spartan.zip\LeagueSpartan-Bold.otf);
    font-family: League Spartan;
  }

  /*nav bar*/
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .logo {
    display: block;
    width: 10rem;
    height:10rem;
    float: left;
    
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  /*End of Nav Bar*/
  
  

 /*footer links*/
  .link {
    position: relative;
  }
  .link:after {
    content: '';
    position: absolute;
    bottom: -.4em;
    left: 50%;
    right: 50%;
    height: 1px;
    background: currentColor;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  .link:hover:after {
    left: 0;
    right: 0;
    height: 2px;
  }
  .link:before {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: -10px;
    color: #eee;
    opacity: .3;
    font-weight: 100;
    font-size: .8em;
  }
  

  /*Homepage*/

  .heropage {
  background-color: #1f2021;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  text-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    
  }
  .heroimage {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  /*button*/
  
  .herotext h1 {
    margin-bottom: 15px;
    font-family: League Spartan;
    color: white;
    font-size: 55px;
    position: absolute;
  }
  
  .herotext button:focus {
    outline: 0;
    
  }
  
  .herotext button {
    position: absolute;
    font-size: 23px;
    width:250px;
    height:50px;
    top:50%;
    left:50%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;

  }
  
  .herotext button:hover {
    background-color:#192032;
    color:white;  
    box-shadow: 0px 15px 20px #345460;
    transform: translateY(-10px);
  }
  


  /*Team*/

  .container {
    width: 100%;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    transition: all 0.2s linear;
  }

  .item {
    background-color: #343538;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    width: 330px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: League Spartan, Helvetica, sans-serif;
    flex-basis: 25%;
  }
  
  .item-2 {
    background-color: #343538;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    width: 330px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: League Spartan, Helvetica, sans-serif;
    flex-basis: 25%;
  }
  
  .item-3 {
    background-color: #343538;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    width: 330px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: League Spartan, Helvetica, sans-serif;
    flex-basis: 25%;
  }
  
  .mail {
    color: gray;
    margin-top: -15px;
  
  }
  
  .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 15px;
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  p {
    margin-bottom: 17px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 15px;
  }
  
  .btn {
    cursor: pointer;
    margin-top: 15px;
    padding: 15px;
    font-size: 17px;
    height: 53px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 160px;
    border-radius: 100px;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    margin-bottom: 25px;
    transition: all 0.2s linear;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
  
 
  
  
 
  
  
  
  
    /*contact page*/
  
  form {
    width: 700px;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  form h1 {
    font-family: League Spartan, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  input:focus {
    outline: 0;
  }
  
  input {
    display: block;
    margin-bottom: 15px;
    max-width: 700px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 700px;
    border: 2px solid #D8D8D8;
  }
  
  textarea:focus {
    outline: 0;
  }
  
  textarea {
    width: 700px;
    box-sizing: border-box;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #D8D8D8;
    font-size: 17.5px;
    font-weight: 100;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  textarea::placeholder {
    font-size: 17.5px;
    font-weight: 100;
    color: gray;
    letter-spacing: .5px;
    font-family: 'Roboto', sans-serif;
  }
  
  form h3 {
    text-align: left;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  #form-button {
    border: none;
    background-color: #343538;
    color: white;
    padding: 12px;
    font-size: 17px;
    margin-top: 22px;
    width: 700px;
    border-radius: 500px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.2s linear;
  }
  
  #form-button:hover {
    background-color: black;
  }
  
  .form {
    border-bottom: 2px solid #F2F2F2;
  }
  
  footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #343538;
    width: 100%;
    padding: 20px;
    bottom: 0;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    text-align: center;
  }
  
  footer h1 {
    font-family: League Spartan, Helvetica, sans-serif;
    margin-top: 10px;
  }
  
  footer h3 {
    font-weight: 300;
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    transition: all 0.2s linear;
  }
  
  footer a:hover {
    opacity: 0.7;
  }
  
  .fa:hover {
    opacity: 0.7;
    transition: all 0.2s linear;
  }
  
  
  
  
  /*All Media Queries, for Responsive layout */
  
  
  
  /*Hero Image*/
  @media screen and (max-width: 514px) {
    .heropage {
      
    }
    .herotext h1 {
     
    }
    .herotext button {
      
    }
  }
  /*Hero Image*/
  
  
  /*Lorem Ipsum Content-1*/
  @media screen and (max-width: 514px){
    .main img {
      
    }
  
    .main-text {
      
    }
  
    .main-text h2 {
    
    }
  
    .main-text p {
     
    }
  }

  @media screen and (max-width: 1071px) {
   
  }
  
  @media screen and (max-width: 1053px){
 
  /*Lorem Ipsum Content-2*/
  
  @media screen and (max-width: 993px) {
    
  }
  
  /*contact us page*/
  /*form section*/
  @media screen and (max-width: 732px) {
  .form h1 {
    width: 100%;
    text-align: center;
    display: block;
  }
  form  {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    margin: auto;
  }
  form input {
    width: 95%;
    display: block;
    margin: auto;
  }
  form textarea {
    width: 95%;
    display: block;
    margin: auto;
  }
  form h3 {
    width: 95%;
    display: block;
    margin: auto;
    text-align: left;
  }
  #form-button {
    width: 95%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  }
  
  @media screen and (max-width: 390px) {
    .footer-products-section {
      display: none;
    }
  }
  
  
  /*form section*/
  
  /*All the Media Queries are above and within this container */
  